@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* ESTILOS CELULAR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.franja{
    width:100%;
    background-color: #9ACCEF;
    height: 5px ;
    
    border:1px transparent;
    position:relative;
}
.pie {
    position: absolute;
    width: 100%;
}
.contenedor {
    margin: auto;
    padding-top: 5%;
    
    
}
.menu_pie {
    display: table;  
    margin: 0 auto;
    font-size: 12px;
}
.menu_pie  ul {
    list-style: none;
    
    

}
.menu_pie ul li {
    display: inline;
}
.menu_pie ul li a {
    text-decoration: none;
    color: rgb(0, 77, 201);
    padding: auto;
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: small;
    
    
    
}
.menu_pie ul li a:hover {
    color: #00C1B3;
    
    
    
}
.iconos {
    display: table;
    margin: 0 auto;
}
.iconos ul {
    list-style: none;
    display: flex;
    padding: 5vh;
    margin-left: auto;
    margin-right: auto;
    
    
}

.iconos ul li {
    display: inline;
}
.iconofa:hover {
    color: #00C1B3;
}

.iconofa {
    color: rgb(0, 77, 201);
    margin-right: 18px;
    font-size: 18px;
}
.logo-pie {
    width: 199px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.creditos{
    color: rgb(0, 77, 201);
    font-family: 'Quicksand', sans-serif;
    font-size: 7px;
    padding: 50px; 
    text-align: center;
    
}

/* ESTILOS TABLET */
@media screen and (min-width: 768px) {
    .logo-pie {
        width: 273px;
}
.menu_pie {
    
    padding: 5px;
}
.contenedor {

    padding-top: 10%;
    
    
}
.creditos {
    font-size: small;
}

}

/* ESTILOS COMPU */
@media screen and (min-width: 1200px) {
    .contenedor{
        display: flex;
    }
    .logo-pie {
        width: 400px;
}
.creditos {
    font-size: 12px;
    text-align: start;
}
    
    
    

}

/* GALERIA ESTILOS CELULAR*/
.body-galeria {
    margin: auto;
    background-color: #00C1B3;
    align-content: center;
}
.cont_galeria {
    width: 100%;
    margin:  auto;
    
}
.mt {
    margin-top: 10px;
}

.galeria-txt{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 12px;
    margin-top: auto;
    padding: 10px;
}
.galeria {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    background-color: #00d4c6;
    justify-content: center;
    
}
.galeria li {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    

}
.galeria li a img {
    width: 100%;
    display: block;
    transition: all .05s;
    
}
.galeria li a img:hover {
    transform: scale(1.05);
}
/* GALERIA ESTILOS TABLET*/
@media screen and (min-width: 768px) {

    .galeria-txt {
        font-size:26px;
    }

}

/* GALERIA ESTILOS COMPU*/
@media screen and (min-width: 1200px) {

    .galeria-txt {
        font-size:  40px;
    }

}






